#question-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100%; /* Make sure the container takes up the full viewport height */
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    
}

  
#buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Adjust as needed */
    width: 100%;
    height: 100%;
    align-items: center;
}

button {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    width: 100%; /* Set the width as needed */
    height: 100%; /* Set the height as needed */
    margin-bottom: 10px; /* Add margin between buttons */
    font-size: 40px;  }

img {
    width: 150px;
    height: 150px;
}

#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}