#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

}


#buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
}

button {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    font-size: 40px;
}

#environment {
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#myBar {
    width: 10%;
    height: 100%;
    background-color: rgb(135, 188, 135);
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 40px;

}

#myProgress {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 245, 233);
}