#question-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin: 0;
    padding-top: 120px;
    
}

#questions {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: none;
}

#options-container {
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    width: 100%;
    height: auto; 
    align-items: center;
    justify-content: center; 
}

button {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    width: 250px;
    height: 80px;
    margin: 0 5px; 
    font-size: 40px;
}

#continue-button {
    display: block;
    margin: 20px auto; 
    background-color: rgb(118, 117, 113);
    color: white;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    box-shadow: none;
    width: 400px;
    height: 80px;
    font-size: 40px;
    margin-top: 500px;

}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

#stem {
    width:60%;
}

#myProgress {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 245, 233);
    z-index: 999; 
}

#myBar {
    height: 60px; 
    background-color: rgb(135, 188, 135);
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 40px;
    width: 80%;
}


.burger-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-size: 32px; 
    font-family: 'Roboto', sans-serif;
}


.burger-icon {
    width: 150px; 
    height: 150px; 
    top: 20px; 
    right: 5px; 
    cursor: pointer;
}

.bar {
    width: 80%;
    height: 10px;
    background-color: rgb(135, 188, 135);
    margin: 10px 0;
}
  
.menu-items {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 50px; 
  }
  
.menu-items.show {
    display: block;
}
  
.menu-items a {
    display: block;
    color: rgb(135, 188, 135);
    border: 1px solid rgb(135, 188, 135);
    padding: 10px;
    text-decoration: none !important;;
}

.submenu {
    position: absolute;
    top: 100%; 
    left: 350px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.tfjs-example-container{
    padding-top: 150px;

}
