#question-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    /*height: 100%; /* Make sure the container takes up the full viewport height */
    flex-direction: column;
    /*width: 100%;
    max-width: 100%;*/
    margin: 0;
}

#questions {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100%; /* Make sure the container takes up the full viewport height */
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: none;
}

#options-container {
    display: flex; /* Change to flex */
    flex-direction: row; /* Display buttons horizontally */
    margin-top: 10px; /* Adjust as needed */
    width: 100%;
    height: auto; /* Adjust the height */
    align-items: center;
    justify-content: center; /* Horizontally center buttons */
}

button {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    /* Adjust button size */
    width: 150px;
    height: 60px;
    margin: 0 5px; /* Add margin between buttons */
    font-size: 24px;
}

#continue-button {
    /* Center the button horizontally */
    display: block;
    margin: 20px auto; /* Adjust margin as needed */
    /* Style the button */
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    /* Adjust button size */
    width: 150px;
    height: 60px;
    font-size: 24px;
    display: block;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#stem {
    width:60%;
}

#myProgress {
    position: fixed; /* Fixed positioning to keep it at the bottom */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Start from the left edge */
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 245, 233);
    z-index: 999; 
}

#myBar {
    height: 60px; 
    background-color: rgb(135, 188, 135);
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 40px;
    width: 80%;
}
