#question-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80%; 
    flex-direction: column;
    max-width: 100%;
}

#answer-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50%; 
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
  
#predictedmushroom {
  text-align: center;
  font-size: 40px;;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
    width: 100%;
    height: 100%;
    align-items: center;
}

button {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    width: 100%; 
    height: 100%; 
    margin-bottom: 10px;
    font-size: 40px;  }

img {
    width: 100%;
    height: 100%;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin: 10px 0; 
}


.burger-menu {
    position: absolute;

    z-index: 1000;
    font-size: 32px; 
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.burger-icon {
    width: 150px; 
    height: 150px; 
    top: 20px; 
    right: 5px; 
    cursor: pointer;
}

  .bar {
    width: 80%;
    height: 10px;
    background-color: rgb(135, 188, 135);
    margin: 10px 0;
  }
  
  .menu-items {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 50px; 
  }
  
  .menu-items.show {
    display: block;
  }
  
  .menu-items a {
    display: block;
    color: rgb(135, 188, 135);
    border: 1px solid rgb(135, 188, 135);
    padding: 10px;
    text-decoration: none !important;;
  }

  .submenu {
    position: absolute;
    top: 100%; 
    left: 350px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

