#question-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100%; /* Make sure the container takes up the full viewport height */
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    
}

#month-dropdown {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    width: 80%;
    height: 5%;
    text-align: center;
    font-size: 40px;
  }

option {
    width: 100%;
    height: 5%;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

#seasons {
    width:100%;
}

#myProgress {
    position: fixed;
    bottom: 5px;
    width: 98%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(233, 245, 233);
    z-index: 999; 
}

#myBar {
    width: 20%;
    height: 60px; 
    background-color: rgb(135, 188, 135);
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 40px;
}

.burger-menu {
    position: absolute;

    z-index: 1000; /* Ensure it's above other content */
    font-size: 32px; /* Adjust this value to change the font size of menu items */
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

.burger-icon {
    width: 150px; /* Adjust this value to change the width of the burger icon */
    height: 150px; /* Adjust this value to change the height of the burger icon */
    top: 20px; /* Adjust this value to change the vertical position */
    right: 5px; /* Adjust this value to change the horizontal position */
    cursor: pointer;
}

  .bar {
    width: 80%;
    height: 10px;
    background-color: rgb(135, 188, 135);
    margin: 10px 0;
  }
  
  .menu-items {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 50px; /* Adjust this value to change the font size of menu items */
  }
  
  .menu-items.show {
    display: block;
  }
  
  .menu-items a {
    display: block;
    color: rgb(135, 188, 135);
    border: 1px solid rgb(135, 188, 135);
    padding: 10px;
    text-decoration: none !important;;
  }

  .submenu {
    position: absolute;
    top: 100%; /* Position it below the main menu item */
    left: 350px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}


