#question-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Make sure the container takes up the full viewport height */
    flex-direction: column;
}

  
#buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Adjust as needed */
}

button {
    background-color: rgb(135, 188, 135);
    color: white;
    border-color: rgb(135, 188, 135);
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    width: 150px; /* Set the width as needed */
    height: 40px; /* Set the height as needed */
    margin-bottom: 10px; /* Add margin between buttons */
  }

#skov {
    width: 400px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}